<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= link_to 'Cultural GPS', root_path, class: 'navbar-brand' %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Places', places_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_admin %>
          <li class="navbar-text">Signed in as <%= current_admin.email %></li>
          <li><%= link_to 'Sign out', destroy_admin_session_path, remote:true, method: :delete %></li>
        <% else %>
          <li>
            <%= link_to 'Sign in', admin_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
