<h1>Listing events</h1>
<p>
  <%= form_tag(root_path, method: "get") do %>
    <%= hidden_field_tag(:latitude) %>
    <%= hidden_field_tag(:longitude) %>
    <label>
      <%= check_box_tag(:useCurrentPosition, true, @useCurrentPosition, disabled:true) %>
      Use my current position
    </label>
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Place</th>
      <th>When?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.place.name %></td>
        <td><%= get_event_time event.start_date %></td>
        <td>
          <%= link_to 'Show', event %>
          <% if current_user %>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if isLogged? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
