<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12">
    <%= form_tag(root_path, method: "get") do %>
      <%= hidden_field_tag(:latitude) %>
      <%= hidden_field_tag(:longitude) %>
      <%= check_box_tag(:useCurrentPosition, true, @useCurrentPosition) %>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          Upcoming events
          <% if current_admin %>
            <%= link_to 'New Event', new_event_path, class: "btn btn-primary pull-right" %>
          <% end %>
          <button id="useCurrentPosition_button" class="btn btn-success pull-right <%= 'active' if @useCurrentPosition %>" disabled>
            Use my position &nbsp;
            <i class="icon-compass"></i>
          </button>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          All upcoming events are displayed here, also they displays:
          event name, location in black label and time
        </p>
        <p>
          You may use your current position <span class="label label-success">(the green button)</span>, the
          app show you the direction to event <strong>(N, S, E, W)</strong>
        </p>
      </div>
      <% if @events.any? %>
        <table class="table table-condensed table-striped" id="event-table">
          <tbody>
            <% @events.each do |event| %>
              <tr data-link="<%= event_url(event) %>" class="<%= has_started_class(event.start_date) %>">
                <td>
                  <h4><%= event.name %></h4>
                  <strong>
                    <i class="icon-location"></i> <%= event.place.name %>
                  </strong> <br>
                  <p>
                    <i class="icon-calendar"></i>
                    Start <%= get_event_time event.start_date %> and
                    End <%= get_event_time event.end_date %>
                  </p>
                </td>
                <% if @useCurrentPosition %>
                  <td class="location-distance"><%= normalize_distance event.get_distance(@location) %></td>
                  <td class="arrow-direction">
                    <i class="<%= place_direction_class event.get_bearings(@location) %>"></i>
                  </td>
                <% end %>
                <% if current_admin %>
                  <td class="actions">
                      <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
                      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info">Not upcoming events yet. Try later</div>
      <% end %>
  </div>

  </div>
</div>
