<p id="notice"><%= notice %></p>

<h2><%= @event.name %></h2>
<p>
  <%= @event.description %>
</p>
<address>
  <strong><%= @event.place.name %></strong> <br>
  <%= @event.place.location %>
</address>
<p>
  <strong>Start at:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_date %>
</p>

<div id="map-image" data-latitude="<%= @event.place.latitude %>" data-longitude="<%= @event.place.longitude %>" data-size="">
  <img src="" alt="">
</div> <br> <br>

<% if isLogged? %>
  <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>
<% end %>
<%= link_to 'Back', events_path, class: 'btn btn-default' %>
