<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place.name %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.place.latitude}%2C#{@event.place.longitude}" %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
