<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, "data-geocomplete"=>"", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, "data-geo"=>"lat", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, "data-geo"=>"lng", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="from-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <br>
  <div id="map-canvas"></div>
<% end %>
