<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Direction</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.location %></td>
        <td>
          <%= link_to 'Show', place %>
          <% if current_admin %>
            <%= link_to 'Edit', edit_place_path(place) %>
            <%= link_to 'Destroy', place_path(place), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
