<!DOCTYPE html>
<html>
<head>
  <title>CulturalGps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/base/nav' %>

<div class="container">
  <%= yield %>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
